:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --transpered-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --btn-hover: #188ce8;
  --border-header-color: #ececec;
  --border-footer-color: #eeeeee;
  --socials-color: #afb1b8;
  --black-socials-color: rgba(255, 255, 255, 0.1);
  --indent: 30px;
  --items: 4;
  --animation-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-bgc: rgba(0, 0, 0, 0.2);
  --overlay-bg: rgba(33, 150, 243, 0.9);
  --color-shadow:rgba(0, 0, 0, 0.15);
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.no-scroll {
  overflow: hidden;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
  line-height: 1.71;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* Base style */

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-right: 0;
  padding-bottom: 94px;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header section*/

.header {
  border-bottom: 1px solid var(--border-header-color);
}

.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-header {
  color: var(--logo-color);
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-link,
.header-mail,
.header-phone {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--animation-hover);
}

.header-link {
  color: var(--title-text-color);
}

.header-link-current {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.header-link-current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-link:hover,
.header-link:focus,
.header-phone:hover,
.header-phone:focus,
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-promo {
  display: flex;
  gap: 50px;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Main-section */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--secondary-bg-color);
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  color: var(--main-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--color-shadow);
  border: none;

  transition: background-color var(--animation-hover);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-hover);
}

/* Features section */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list {
  display: flex;
  gap: var(--indent);
}

.features-item {
  flex-basis: 270px;
}

.features-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--third-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-subtitle {
  color: var(--title-text-color);
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-desc {
  line-height: 1.71;
}
/* About section */

.about {
  padding-bottom: 94px;
}

.about-item {
  position: relative;
}

.about-label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.about-list {
  --items: 3;
}

/* Team section */
.team {
  background-color: var(--third-bg-color);
}

.team-list {
  display: flex;
  gap: var(--indent);
  flex-wrap: wrap;
}

.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team-desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-item {
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Socials icons */
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--socials-color);
  background-color: var(--main-white-color);
  border-radius: 50%;

  transition: color var(--animation-hover),
    background-color var(--animation-hover);
}

.socials-icon {
  fill: currentColor;
}

.socials-link:hover,
.socials-link:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.team-wrapper {
  border-top: none;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Clients */

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--indent);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--socials-color);
  border-radius: 4px;

  color: var(--socials-color);

  transition: color var(--animation-hover), border var(--animation-hover),
    outline var(--animation-hover);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  outline: none;
}
/* footer*/

.logo-footer {
  color: var(--main-white-color);
}

.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.left-side {
  margin-right: 70px;
}

.logo-second {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.footer-address {
  font-style: inherit;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  color: var(--main-white-color);

  transition: color var(--animation-hover);
}

.footer-mail,
.footer-phone {
  color: var(--transpered-color);

  transition: color var(--animation-hover);
}

.footer-link:hover,
.footer-link:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
  color: var(--accent-color);
}

.right-side {
  margin-right: 93px;
}

.right-side-header {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--main-white-color);
}

.black-link {
  background-color: var(--black-socials-color);
  color: var(--main-white-color);

  transition: background-color var(--animation-hover);
}

.black-link:hover,
.black-link:focus {
  background-color: var(--accent-color);
}

.footer-btn {
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  letter-spacing: 0.06em;
  padding: 10px 28px;

  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--color-shadow);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.contact-form-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-input {
  width: 358px;
  padding: 15px 16px;
  background-color: inherit;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: var(--transpered-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px var(--color-shadow));
  border-radius: 4px;
}

/* Portfolio */

.main-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  margin-bottom: 50px;
}

.main-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  color: var(--title-text-color);
  background-color: var(--third-bg-color);
  cursor: pointer;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;

  transition: color var(--animation-hover),
    background-color var(--animation-hover), box-shadow var(--animation-hover);
}

.main-button:hover,
.main-button:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-items {
  --items: 3;
}

.main-content {
  display: inline-block;
  transition: box-shadow var(--animation-hover);
}

.main-content:hover,
.main-content:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-tumb {
  position: relative;
  overflow: hidden;
}

.main-content:hover .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--overlay-bg);

  transition: transform var(--animation-hover);
}

.overlay-text {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: var(--main-white-color);
}

.main-desk {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid var(--border-footer-color);
  border-top: none;
}

.main-service {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.main-direction {
  font-size: 16px;
  line-height: 1.88;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bgc);

  transition: opacity var(--animation-hover), visibility var(--animation-hover);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;
  transition: transform 500ms ease-in-out 100ms, opacity 500ms ease-in-out 100ms;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5) rotate(1turn);
}
.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  fill: var(--logo-color);
  background: var(--main-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: fill var(--animation-hover);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-color);
}
/* Modal form */

.form {
  text-align: center;
}

.form-title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
}

.form-group {
  margin-bottom: 20px;
}

.form-wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;
}

.form-wrap:last-child {
  margin-bottom: 0;
}

.form-label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
}

.form-input,
.form-message {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;
  width: 100%;
  outline: transparent;
  cursor: pointer;
  transition: border-color var(--animation-hover);
}

.form-message {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.form-input:focus-within,
.form-input:hover,
.form-message:focus-within,
.form-message:hover {
  border-color: var(--accent-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--title-text-color);
  transition: fill var(--animation-hover);
}

.form-input:focus-within + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--accent-color);
}

.form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.form-checkbox:checked + .register-icon .form-icon-uncheck {
  opacity: 0;
  transition: opacity var(--animation-hover);
}

.form-checkbox:checked + .register-icon .form-icon-check {
  opacity: 1;
}

.form-icon-check {
  opacity: 0;
  transition: opacity var(--animation-hover);
}

.form-agreement-text {
  line-height: 1.71;
  user-select: none;
  text-underline-position: under;
}

.form-agreement-link {
  cursor: pointer;
  color: var(--accent-color);
}

.form-btn {
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--color-shadow);
  border-radius: 4px;
  border: none;
  padding: 10px 52px;
  cursor: pointer;
  transition: background-color var(--animation-hover);
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--btn-hover);
}