%section {
    padding-top: 94px;
    padding-right: 0;
    padding-bottom: 94px;
    padding-left: 0;
}

%reset-link {
    text-decoration: none;
    color: currentColor;
    line-height: 1.71;
}

%reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}