.socials {
  @extend %reset-list;
  
  @extend %flex-align;
  gap: 10px;
}

.socials__link {
  @extend %reset-link;

  @extend %flex-align;
  width: 44px;
  height: 44px;
  color: var(--socials-color);
  background-color: var(--main-white-color);
  border-radius: 50%;

  transition: color var(--animation-hover),
    background-color var(--animation-hover);
    
  &:hover,
  &:focus {
    color: var(--main-white-color);
    background-color: var(--accent-color);
  }
}

.socials__icon {
  fill: currentColor;
}

.link--black {
  background-color: var(--black-socials-color);
  color: var(--main-white-color);

  transition: background-color var(--animation-hover);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}